# .gitignore
node_modules/
dist/
.env
nohup.out
*.log

/client/.dart_tool/
/client/.idea/
/client/build/
/client/.flutter-plugins
/client/pubspec.lock

/logs/

# SSL Certificates (managed on server)
*.crt
*.key
*.pem
weltenwind.crt