[Unit]
Description=Weltenwind Application Services
Documentation=https://github.com/weltenwind/backend
Wants=weltenwind-nginx.service weltenwind-backend.service weltenwind-studio.service

[Install]
WantedBy=multi-user.target
